body {
    margin: 0;
}

*::-webkit-scrollbar {
    width: 2px;
}
 
*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
}
 
*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

main {
    min-height: 100vh;
    padding-top: 80px;
    background-color: #f8f9fc;
}

@media screen and (min-width: 992px) {
    .root__container {
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        min-width: 992px;
        max-width: 85%;
        height: calc(992px * 0.5625);
    }
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    height: 100%;
}

.bsa-box {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: #fff;

    .image__wrapper, .button__wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn {
        width: 150px;
        height: 30px;
        background-color: rgb(64, 54, 212);
        color: #fff;
        border: none;
        border-radius: 10px;
        opacity: 0.85;

        &:hover {
            opacity: 1;
            cursor: pointer;
        }
    }
}

.qa-box {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 5;
    background-color: #52bf77;

    .qa__text__wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 56pt;
        color: #fff;
    }

    .qa__text__block__wrapper {
        p {
            padding: 10px 20px;
        }
    }

    
}

.js-box {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    position: relative;

    .js__text__wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        font-size: 60pt;
        font-weight: 900;
        color: #000;
        z-index: 999;
        background-color:#f7cf69;
    }

    .js__text__block__wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: #fff;
    }

    span {
        margin-right: 10px;
        display: inline;
    }
}

.java-box {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 4;
    background-color: #e12b4c;

    .java__text__wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 28pt;
        color: #fff;
    }
}

.extended-box {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
}

.extended-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    height: 100%;

    .php-box {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 3;

        .php__text__wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 28pt;
            background-color: #8893c0;
            color: #000;
        }
    }

    .dotnet-box {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 6;

        .dotnet__text__wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 56pt;
            color: #fff;
            background-color: #642077;
        }
    }

}

.extended-info-container {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 6;   

    .info-grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
        height: 100%;
    
        .events-box {
            grid-column-start: 1;
            grid-row-start: 1;
            grid-row-end: 3;
            position: relative;

            .events__text__wrapper {
                position: absolute;
                right: 0;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 14pt;
                background-color: #2d99ff;
                color: #fff;
            }
        }
    
        .blog-box {
            grid-column-start: 1;
            grid-row-start: 3;
            grid-row-end: 5;
            position: relative;

            .blog__text__wrapper {
                position: absolute;
                bottom: 0;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 14pt;
                background-color: #0443a3;
                color: #fff;
            }
        }
    
        .contacts-box {
            grid-column-start: 1;
            grid-row-start: 5;
            grid-row-end: 6;
            position: relative;

            .contacts__text__wrapper {
                position: absolute;
                bottom: 0;
                right: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 14pt;
                background-color: #00265f;
                color: #fff;
            }
        }
    }
}
