body {
    margin: 0;
}

main {
    min-height: 100vh;
    padding-top: 80px;
    background-color: #f8f9fc;
}

@media screen and (min-width: 992px) {
    .root__container {
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        min-width: 992px;
        max-width: 85%;
        height: calc(992px * 0.5625);
        background-color: crimson;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    height: 100%;
}

.bsa-box {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: #fff;

    .image__wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.qa-box {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 5;
    background-color: #52bf77;

    .qa__text__wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 56pt;
        color: #fff;
    }
}

.js-box {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    background-color:#f7cf69;

    .js__text__wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        font-size: 60pt;
        font-weight: 900;
        color: #000;
    }

    span {
        margin-right: 10px;
    }
}

.java-box {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 4;
    background-color: #e12b4c;

    .java__text__wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 28pt;
        color: #fff;
    }
}

.extended-box {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
}

.extended-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    height: 100%;

    .php-box {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 3;
        background-color: #8893c0;

        .php__text__wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 28pt;
            color: #000;
        }
    }

    .dotnet-box {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 6;
        background-color: #642077;

        .dotnet__text__wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 56pt;
            color: #fff;
        }
    }

}

.extended-info-container {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 6;   

    .info-grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
        height: 100%;
    
        .events-box {
            grid-column-start: 1;
            grid-row-start: 1;
            grid-row-end: 3;
            background-color: #2d99ff;

            .events__text__wrapper {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 14pt;
                color: #fff;
            }
        }
    
        .blog-box {
            grid-column-start: 1;
            grid-row-start: 3;
            grid-row-end: 5;
            background-color: #0443a3;

            .blog__text__wrapper {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 14pt;
                color: #fff;
            }
        }
    
        .contacts-box {
            grid-column-start: 1;
            grid-row-start: 5;
            grid-row-end: 6;
            background-color: #00265f;

            .contacts__text__wrapper {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 14pt;
                color: #fff;
            }
        }
    }

}


