section {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 390px;
    max-height: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

.notification__container {
    height: 100px;
    width: 350px;
    background-color: lawngreen;
    border-radius: 10px;
    opacity: 0.8;
}

.notification__icon__wrapper {
    width: 30%;
    display: block;
}

.notification__content__wrapper {
    width: 70%;
    display: block;
    float: right;
    padding: 20px 0;
    color: white;

    .notification__title {
        font-size: 16pt;
    }
}